<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Генератор рецептов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <main class="main container">
        <h1 class="main__title">Генерирование рецептов из ваших продуктов</h1>

        <form class="form" method="post" action="addProduct">
            <div class="form__inputs">
                <input class="form__input" type="text" name="title" placeholder="Введите продукт">
            </div>

            <button class="btn" type="submit">Добавить</button>
        </form>

        <form action="/softFilter" method="post">
            <input type="checkbox" name="softFilter"/>
            <label for="softFilter">
                Мягкий фильтр
            </label>
            <button class="btn" type="submit">Применить</button>
        </form>

        <section class="products">
            <h3 class="section-title">Список продуктов:</h3>

            <ul class="products__list js-list">
                {{#products}}
                    <li class="products__item">{{productTitle}}<a class="products__item-delete" href="/deleteProduct/{{productId}}"></a></li>
                {{/products}}
            </ul>
        </section>

        <section class="recipies">
            <h3 class="section-title">Список рецептов:</h3>
            <div class="recipies__list js-list">
            {{#recipies}}
                <div class="recipies__item">
                    <p><b>{{id}}. {{nameRecipe}}</b></p>
                    <p><b>Ингридиенты:</b> {{ingredients}}</p>
                    <p><b>Как готовить:</b> {{howToCook}}</p>
                </div>
            {{/recipies}}
            </div>
        </section>

    </main>
    <script src="/static/js/main.js"></script>
</body>
</html>